@{
    Layout = "_Layout";
}
@model IEnumerable<KarhanoMarket.Models.Company>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<h3 class="mb-0 text-uppercase">Stores</h3>
<br />
<p>
    <a asp-action="Create" class="btn ripple btn-primary px-5"> New Store</a>
</p>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead class="">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var company in Model)
{
    <tr>
        <td>@company.Name</td>
        <td>@company.Email</td>
        <td>@company.Phone</td>
        <td>@company.Address</td>
        <td>@company.Description</td>
        <td>
            <!-- Actions like Edit/Delete can be added here -->
        </td>
    </tr>
}
    </tbody>
</table>
</div>
</div>
</div>
<script src="/assets/js/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        $('#example').DataTable();
      } );
</script>
